.modalBody {
  padding: 10px;
  /* background-color: #edf6fc; */
}

.heading {
  padding: 15px;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 18px;
  color: #2f363f;
  letter-spacing: 0;
  font-weight: 600;
  border-bottom: 1px solid #2f363f;
}

/* --------input---------- */

.inputContainer {
  padding-top: 10px;
  padding-bottom: 25px;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.inputField {
  font-size: 14px;
  letter-spacing: 0;
  padding: 5px 10px;
  background: #ffffff;
  border: 1px solid rgba(3, 120, 255, 0.5);
  border-radius: 8px;
  width: 100%;
  max-width: 425px;
  height: 30px;
}

.button {
  color: white;
  font-size: 14px;
  margin-top: 15px;
  width: 100%;
  max-width: 447px;
  height: 40px;
  background: rgb(3, 120, 255);
  border-radius: 8px;
  margin-bottom: 60px;
  cursor: pointer;
}

.button:disabled {
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: #dde0e4;
  cursor: not-allowed;
}
