.heading {
  padding: 15px;
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 18px;
  color: #2f363f;
  letter-spacing: 0;
  font-weight: 600;
  border-bottom: 1px solid #2f363f;
}

.inputContainer {
  padding-top: 10px;
  padding-bottom: 25px;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  color: white;
  font-size: 14px;
  margin-top: 15px;
  width: 100%;
  max-width: 447px;
  height: 40px;
  background: rgb(3, 120, 255);
  border-radius: 8px;
  margin-bottom: 60px;
  cursor: pointer;
}

/* cards view */

@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

.checkList {
  display: flex;
}
